
#global-nav {
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
  font-size: 13px;
  float: right;
  display: flex;
}
.nav-bar {
  width: 100%;
  min-width: 315px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: right;
  z-index: 986;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: 0!important;
  margin-right: 0!important;
  float: right;
}

#global-nav .global-right {

  vertical-align: middle;
  text-align: right;
  padding-left: 15px;
  vertical-align: middle;
  float: right;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex: 0 1 main-size;
  flex: 0 1 main-size;
  display: -webkit-flex;
  display: flex;
}

.nav-link {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex: 0 1 main-size;
  flex: 0 1 main-size;
  text-overflow: ellipsis;
  line-height: 24px;
  outline: none;
  font-family: arial,sans-serif;
  color: #404040;
  text-decoration: none;
}
#global-nav .global-right:first-child {
  padding-left: 0;
}

#sign-in-button {
  line-height: normal;
  text-align: right;
  min-width: 116px;
  float: right;
}

#sign-in-button a.login {
  line-height: normal;
  float: right;
  text-align: right;
  color: #fff;
  cursor: default;
  font-family: arial,sans-serif;
  text-decoration: none;

  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  background: linear-gradient(top,#4387fd,#4683ea);

  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#logo {
    height:231px;margin-top:80px
}

#hplogo {
    padding-top:112px
}

#search {
    position: relative;
    padding: 3px 160px 2px;
}
.search-button input[type="submit"] {
    height: 29px;
    line-height: 27px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #444;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 11px 8px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

.search-form {
    height:102px
    overflow:visible; 
    margin: 0 auto;
    width: 833px; 
    padding-left: 173px;
    padding-right: 173px;"
}

.search-field {
    border: none;
    padding: 5px 9px 0;
    margin: 0px;
    height: auto;
    width: 100%;
    /* 1*/
    z-index: 6;
    left: 0px;
    //outline: none;

    font: 16px arial,sans-serif;
    line-height: 1.2em !important;
    height: 1.2em !important;

    /* input, textarea, keygen, select, button */
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;

    line-height: 0;
    max-width: 650px;
    overflow: visible;
    white-space: nowrap;

    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    height: 28px;
    vertical-align: top;
}